<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Go Greek Tours - Unforgettable Tours of Greece</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/layout3.css" />
</head>
<body>

  <div class="container">

    <header id="masthead" aria-label="Aerial image of a shoreline and ocean in Greece, with numerous boats in the water">

      <a id="jumpLink" href="#content">Jump to main content</a>

      <a href="#" id="logo"><img src="i/go-greek-tours.png" alt="Go Greek Tours" width="107" height="92" /></a>

      <form action="#" method="post" role="search">
        <h1>What do you want to do in Greece?</h1>
        <input type="search" aria-label="Search for a tour or activity" name="qry" /><input type="submit" value="Go" />
      </form>

    </header>

    <main id="content">

      <section class="grid wrapper" id="tours">

        <div>

          <a class="tourPhoto" id="history" href="#" aria-label="Greek ruin with many columns"></a>

          <h2>Greek History</h2>

          <p>Tour our ancient architecture, from the Acropolis to the Temple of Athena, the beauty of our iconic treasures is unrivaled.</p>

          <p><a href="#" aria-label="Learn more about our Greek history tour"><img src="i/plus-icon.png" width="19" height="19" alt="Plus icon" /></a></p>

        </div>

        <div>

          <a class="tourPhoto" id="santorini" href="#" aria-label="Buildings in Santorini"></a>

          <h2>Santorini</h2>

          <p>This classic city located on the beautiful Aegean Sea is home to cave houses, active volcanos and unparalleled beaches.</p>

          <p><a href="#" aria-label="Learn more about our Santorini tour"><img src="i/plus-icon.png" width="19" height="19" alt="Plus icon" /></a></p>

        </div>

        <div>

          <a class="tourPhoto" id="monastery" href="#" aria-label="Monastery atop a mountain in Greece"></a>

          <h2>Monastic Splendor</h2>

          <p>Landscape and dramatic vistas are integral to the Orthodox medieval traditions of the Greek monasteries.</p>

          <p><a href="#" aria-label="Learn more about our Greek monasteries tour"><img src="i/plus-icon.png" width="19" height="19" alt="Plus icon" /></a></p>

        </div>

      </section>

      <blockquote>
        &ldquo;Greece is one of the few must-see places on earth, you simply have to see it for yourself.&rdquo;
        <br /><span>-Conde Naste</span>
      </blockquote>

      <section id="explore" aria-label="Image of the entrance a Greek cafe and bar">

        <h2><a href="#">Explore Cafe Culture</a></h2>

      </section>

      <section class="wrapper" id="travel" aria-labelledby="smartTravel">

        <h2 id="smartTravel">Travel Smart</h2>

        <div class="grid">

          <a href="#">Passports and Visas</a>
          <a href="#">Weather and Water</a>
          <a href="#">Travel to Greece</a>
          <a href="#">Travel in Greece</a>

        </div>

      </section>

    </main>

    <footer class="wrapper grid">

      <nav aria-label="Primary navigation">

        <h2>Go Greek Tours</h2>

        <ul>

          <li><a href="#">About Us</a></li>
          <li><a href="#">Travel Information</a></li>
          <li><a href="#">Maps and Brochures</a></li>
          <li><a href="#">General Information</a></li>

        </ul>

      </nav>

      <form action="#" method="post">

        <h2>Stay Up to Date</h2>

        <p>Join our mailing list and get the latest news and travel inspiration.</p>

        <p><input type="email" aria-label="Enter your email address" placeholder="Email address" /></p>

        <p><input type="submit" value="Join" /></p>

      </form>

      <div>

        <a class="social" href="https://twitter.com"><img src="i/twitter-logo.png" width="60" height="50" alt="Follow us on Twitter" /></a>

        <p class="copyright" role="contentinfo">&copy; Go Greek Tours</p>

      </div>

    </footer>

  </div>

  <script src="js/layout3.js"></script>

</body>
</html>
