@media all {

  header, footer, nav, aside, article, section {display: block;}
  body {margin: 0; padding: 0;}
  #masthead h1 {margin: 0; font: 700 34px 'Noto Serif', serif;}

}


@media screen {
  :root {--primary-txt-color: #fff; --primary-bg-color: #fff; --secondary-txt-color: #000; --secondary-bg-color: #2a2a2a;}
  body {font: 400 100%/1.4 'Roboto', sans-serif;}
  h2 {font: 400 180%/1.4 'Roboto', sans-serif;}
  h3 {font: 700 140%/1.4 'Roboto', sans-serif;}
  footer {font-size: 90%; text-align: center; background :var(--secondary-bg-color); color :var(--primary-txt-color); padding: 15px 0;}
  .container {width: 1170px; margin: 0 auto;}
  .halfColumn {box-sizing: border-box;}
  .flex {display: flex; justify-content: space-between;}
  .grid {display: grid; justify-content: space-between;}

  /* masthead and top of content area */
  #masthead {color :var(--primary-txt-color); padding: 30px 0; background :var(--secondary-bg-color); border-bottom: 1px solid #aaa;}
  #headerGrid {grid-template-columns: auto auto;}
  #masthead nav ul {list-style: none; margin: 0; padding: 0;}
  #masthead nav li {margin-left: 10px;}
  #masthead nav ul a, #pageContent .actionBtn {margin-top: 7px; color :var(--primary-txt-color); font-weight: 500; text-decoration: none; display: inline-block; padding: 8px 16px; border-radius: 12px;}
  #pageContent .actionBtn {background: #ccc; color :var(--secondary-txt-color); padding: 12px 20px; font-size: 120%;}
  #masthead nav ul a:hover, #masthead nav ul a:focus, #pageContent .actionBtn:hover, #pageContent .actionBtn:focus {background :var(--primary-bg-color); color :var(--secondary-txt-color);}
  #pageContent {padding: 30px 0; background :var(--secondary-bg-color); color :var(--primary-txt-color); overflow: auto;}
  #contentGrid {grid-template-columns: 60% 40%;}
  #contentGrid div:nth-child(2) {justify-self: end;}
  #homeFeature {border: 7px solid #6b6b6b; border-radius: 50%; width: 375px; height: 375px; background: url(../i/maple-leaves-background.webp) no-repeat center; background-size: cover;}
  #navMenuTrigger {display: none; margin-top: 7px; color :var(--primary-txt-color); text-decoration: none;}

  /* tours */
  #galleryHdr {text-align: center;}
  #tourGrid {grid: 200px 200px / repeat(4, 1fr); gap: 15px;}
  #tourGallery {background: #ccc; overflow: auto; padding: 30px 0 50px;}
  .tour {position: relative; top: 0; left: 0; border: 5px solid var(--primary-bg-color); box-sizing: border-box; background-size: cover; min-height: 200px;}
  .tour span {position: absolute; bottom: 0; width: 100%; padding: 5px 0; background: rgba(0,0,0,0.6); color :var(--primary-txt-color); text-align: center;}
  .tour em {font-size: 0; width: 0; height: 0;}
  #fallTour {background: url(../i/fall-tour.webp) top left no-repeat;}
  #winterTour {background: url(../i/winter-tour.webp) top left no-repeat;}
  #springTour {background: url(../i/spring-tour.webp) center no-repeat;}
  #summerTour {background: url(../i/summer-tour.webp) center no-repeat;}
  #forestTour {background: url(../i/forest-tour.webp) center no-repeat;}
  #mountainTour {background: url(../i/mountain-tour.webp) center no-repeat;}
  #islandTour {background: url(../i/island-tour.webp) bottom center no-repeat;}
  #streamTour {background: url(../i/stream-tour.webp) center no-repeat;}

  /* services */
  #services {text-align: center; padding: 30px 0 50px;}
  #servicesGrid {grid: 120px / repeat(6, 1fr); gap: 15px 30px;}
  .service {text-decoration: none; background :var(--secondary-bg-color); color :var(--primary-txt-color); border: 5px solid var(--secondary-bg-color);; box-sizing: border-box; padding: 20px;}
  .service .fa-solid {display: block; height: 50px;}
  .service:hover, .service:focus {background :var(--primary-bg-color); color: #2a2a2a;}

}


@media screen and (max-width: 1190px) {

  .container {width: auto; padding: 0 20px;}
  #tourGrid, #servicesGrid {grid-template-columns: repeat(3, 1fr);}
  #servicesGrid {column-gap: 15px;}

}


@media screen and (max-width: 1070px) {

  #contentGrid {grid-template-columns: 1fr 1fr;}

}


@media screen and (max-width: 800px) {

  #pageContent > div.grid {display: block;}
  #homeFeature {width: 300px; height: 300px; margin: 50px auto 20px;}
  #navMenuTrigger {display: inline-block;}
  #tourGrid, #servicesGrid {grid-template-columns: 1fr 1fr;}
  header nav li {display: none;}

}


@media screen and (max-width: 500px) {

  #masthead h1 {font-size: 25px;}
  #tourGrid, #servicesGrid {grid-template-columns: 1fr;}

}


@media print {

  body {font: 400 14pt/1.4 'Noto Serif', serif; color :var(--secondary-txt-color);}
  h2 {font: 400 20pt/1.4 'Noto Serif', serif;}
  h3 {font: 400 17pt/1.4 'Noto Serif', serif;}
  #masthead nav, .tour em {display: none;}
  #masthead h1 {font-size: 24pt;}
  footer {font-size: 11pt; margin-top: 30pt;}
  #pageContent {margin: 30pt 0;}
  .tour, .service {display: block; margin: 10pt 0;}
  a {color :var(--secondary-txt-color);}

}
