<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>City Skate :: Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,300;75,700&family=Righteous&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main5.css" />
</head>


<body class="container">
    <header id="masthead" aria-label= "Image of man skateboarding across a crosswalk in a busy city" class="container">
        <div>
            <h1><a href="#">city skate</a></h1>
        </div>
        <div>
            <nav aria-label="Navigation for main website content" id="right">
                <ul>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Skills</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="motto">
        <h2>banned from riding...shut up and skate</h2>
        <p>how cities are taking down skating</p>
    </div>
<!-- skaters 1 2 3 4 are for larger than 1020, skater 5 = skater 3 just smaller than 1020
deckText 1 2 are for 1020, deckText 3 4 are for smaller than 1020 -->
    <main>
        <div id="skater1" aria-label="Image of feet on a skatboard propped in the air"></div>
        <div class="mainGrid deckText3">
            <div id="vintage">
                <h2>vintage decks</h2>
                <p>Our collection of vintage decks are legendary. You could own a piece of skateboarding history.</p>
            </div>
            <img src="i/skateboard-icon.png" alt="Skateboard icon">
        </div>
        <div id="skater2" aria-label="Image of someone boardsliding on piece of metal"></div>
        <div class="mainGrid">
            <div id="skater5" aria-label="Image of someone ollieing infront of sunset"></div>
            <div class="deckText4">
                <h2>rare skate shoes</h2>
                <p>You think your kicks are what's on? The master collector of  old school, super teched out pairs shares her favorite pieces.</p>
            </div>
        </div>
        <div id="skater4" aria-label="Blurry image of a man doing and ollie with motorcyclist in background"></div>
        <div id="deckText1">
            <h2>vintage decks</h2>
            <p>Our collection of vintage decks are legendary. You could own a piece of skateboarding history.</p>
            <img src="i/skateboard-icon.png" alt="Skateboard icon">
        </div>
        <div>
            <div id="skater3" aria-label="Image of someone ollieing infront of sunset"></div>
            <div id="deckText2">
                <h2>rare skate shoes</h2>
                <p>You think your kicks are what's on? The master collector of  old school, super teched out pairs shares her favorite pieces.</p>
            </div>
        </div>
    </main>

    <section id="longBoards">
        <h1>Longboards</h1>
        <div id="longBoardGrid">
            <div class="boardTypes">
                <a id="trucks" href="#" aria-label="Image of skateboard upside down with blue accents"></a>
                <h2>trucks</h2>
            </div>
            <div class="boardTypes">
                <a id="bearings" href="#" aria-label="Image of two skateboards being held by the trucks"></a>
                <h2>bearings</h2>
            </div>
            <div class="boardTypes">
                <a id="wheels" href="#" aria-label="Closeup image of a wheel on a skateboard"></a>
                <h2>wheels</h2>
            </div>
        </div>
    </section>

    <footer id="footerGrid">
        <div>
            <p>contact</p>
            <p>1.800.city.skate</p>
        </div>
        <div>
            <a href="#">shop</a>
            <a href="#">videos</a>
            <a href="#">events</a>
            <a href="#">skills</a>
        </div>
        <div>
            <a href="#">trucks</a>
            <a href="#">bearings</a>
            <a href="#">wheels</a>
        </div>
        <div id="rightsColumn">
            <div id="socialMedia">
                <a id="insta" href="https://www.instagram.com/" aria-label="Link to our Instagram"></a>
                <a id="youtube" href="https://www.youtube.com/" aria-label="Link to our Youtube"></a>
                <a id="twitt" href="https://twitter.com/" aria-label="Link to our twitter"></a>
            </div>
            <p role="contentinfo">&#169; Copyright 2022</p>
        </div>
    </footer>
</body>
</html>