<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Go Greek Tours :: Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/main2.css" />
  <script src="https://kit.fontawesome.com/7c3070b180.js" crossorigin="anonymous"></script>
</head>


  <header id="masthead" aria-label= "image of rocky mountain island surrounded by beach and water" class="container">

    <div class="container">

      <a id="logo" href="#" aria-label="logo that takes you to home page" title="Go To Home Page"></a>

      <div>

        <h1>What do you want to do in Greece?</h1>

        <form action="#" method="post" role="search">

          <input type="search" aria-label="Enter what you would like to search this site for and press enter" name="search">

          <button type="submit" value="go">Go</button>

        </form>

      </div>

    </div>

  </header>

  <body class="container">

    <section id="tours">

      <div class="grid" id="toursGrid">

        <div class="tourItems">

          <a id="greekHistory" href="#" aria-label="Area about a tour covering historic greek areas with a background iamge of the temple of Zeus"></a>

          <h2>Greek History</h2>

          <p>Tour our ancient architecture, fromthe Acropolis to the Temple of Athena, the beauty of our iconic treasures is unrivaled.</p>

          <img src="i/plus-icon.png" alt="click here for more information on greek history"/>

        </div>

        <div class="tourItems">

          <a id="santorini" href="#" aria-label="Area about a tour at Santorini with a background image of the city"></a>

          <h2>Santorini</h2>

          <p>This classic city located on the beautiful Aegean Sea is home to cave houses, active volcanos and unparalleled beaches.</p>

          <img src="i/plus-icon.png" alt="click here for more information on santorini"/>

        </div>

        <div class="tourItems">

          <a id="monastic" href="#" aria-label="Area about a tour at greek monasteries with an image of monasteries on a cliff"></a>

          <h2>Monastic Splendor</h2>

          <p>Landscape and dramatic vistas are integral to the Orthodox midevil traditions of the Greek monasteries.</p>

          <img src="i/plus-icon.png" alt="click here for more information on greek monasteries"/>

        </div>

      </div>

      <div>

        <figure>

          <blockquote><p>"Greece is one of the few must-see places on earth, you simply have to see it for yourself."</p></blockquote>

          <figcaption><cite>-Conde Naste</cite></figcaption>

        </figure>

    </section>

    <section id="cafeCulture" aria-label="Area to explore cafe culture with background image of outside a cafe">

      <h2><a href="#">Explore Cafe Culture</a></h2>

    </section>

    <section id="travelSmart" aria-label="Area to find typical things you would need to travel">

      <div id="cafeTravel">

        <h2>Travel Smart</h2>

        <div class="grid" id="travelGrid">

          <a href="#" class="travelItem">Passports and Visas</a>

          <a href="#" class="travelItem">Weather and Water</a>

          <a href="#" class="travelItem">Travel to Greece</a>

          <a href="#" class="travelItem">Travel in Greece</a>

      </div>

    </section>

  </body>

  <footer>

    <div id="footerGrid" class="grid">

      <div id="goGreek">

        <h2>Go Greek Tours</h2>

        <a href="#" class="goItem">About Us<br/></a>

        <a href="#" class="goItem">Travel Information<br/></a>

        <a href="#" class="goItem">Maps and Brochures<br/></a>

        <a href="#" class="goItem">General Information<br/></a>

      </div>

      <div id="toDate">

        <h2>Stay Up to Date</h2>

        <p>Join our mailing list and get the latest news and travel inspiration.</p>

        <form action="#" method="post">

          <input type="email" placeholder="Email address" aria-label="Enter your email address and press enter" name="email"></input>

          <button type="submit">Join</button>

        </form>

      </div>

      <div id="socials">

        <a href="#">

          <img src="i/twitter-logo.png"></img>

        </a>

        <p>&#169; Go Greek Tours</p>

      </div>

    </div>

  </footer>

</html>
