@media all {

  header, footer, nav, aside, article, section {display: block;}
  body {margin: 0; padding: 0;}
  #masthead h1 {margin: 0; font: 700 34px 'Noto Serif', serif;}

}


@media screen {

  body {font: 400 100%/1.4 'Roboto', sans-serif;}
  h2 {font: 400 180%/1.4 'Roboto', sans-serif;}
  h3 {font: 700 140%/1.4 'Roboto', sans-serif;}
  footer {font-size: 90%; text-align: center; background: #2a2a2a; color: #fff; padding: 15px 0;}
  .container {width: 1170px; margin: 0 auto;}
  .halfColumn {width: 50%; box-sizing: border-box; float: left; padding: 0 15px 0 0;}

  /* masthead and top of content area */
  #masthead {padding: 30px 0; background: #2a2a2a; color: #fff; border-bottom: 1px solid #aaa;}
  #masthead nav ul {list-style: none; margin: 0; padding: 0;}
  #masthead nav li {float: right; margin-left: 10px;}
  #masthead nav a, #pageContent .actionBtn {margin-top: 7px; color: #fff; font-weight: 500; text-decoration: none; display: inline-block; padding: 8px 16px; border-radius: 12px;}
  #pageContent .actionBtn {background: #ccc; color: #000; padding: 12px 20px; font-size: 120%;}
  #masthead nav a:hover, #masthead nav a:focus, #pageContent .actionBtn:hover, #pageContent .actionBtn:focus {background: #fff; color: #000;}
  #pageContent {padding: 30px 0; background: #2a2a2a; color: #fff; overflow: auto;}
  #homeFeature {border: 7px solid #6b6b6b; border-radius: 50%; width: 375px; height: 375px; background: url(../i/maple-leaves-background.jpg) no-repeat center; background-size: cover; float: right;}

  /* tours */
  #galleryHdr {text-align: center;}
  #tourGallery {background: #ccc; overflow: auto; padding: 30px 0 50px;}
  .tour {position: relative; top: 0; left: 0; float: left; border: 5px solid #fff; box-sizing: border-box; width: 277px; background-size: cover; min-height: 200px; margin: 0 15px 15px 0;}
  .tour span {position: absolute; bottom: 0; width: 100%; padding: 5px 0; background: rgba(0,0,0,0.6); color: #fff; text-align: center;}
  #fallTour {background: url(../i/fall-tour.jpg) top left no-repeat;}
  #winterTour {background: url(../i/winter-tour.jpg) top left no-repeat;}
  #springTour {background: url(../i/spring-tour.jpg) center no-repeat;}
  #summerTour {background: url(../i/summer-tour.jpg) center no-repeat;}
  #forestTour {background: url(../i/forest-tour.jpg) center no-repeat;}
  #mountainTour {background: url(../i/mountain-tour.jpg) center no-repeat;}
  #islandTour {background: url(../i/island-tour.jpg) bottom center no-repeat;}
  #streamTour {background: url(../i/stream-tour.jpg) center no-repeat;}

}

@media screen and (max-width: 1190px) {
  .container {width: auto; padding: 0px 20px;}
  .tour {width: 31%; margin: 0 3% 3% 0;}
  #springTour {margin: 0;}
  #mountainTour {margin: 0;}
}

@media screen and (max-width: 800px) {
  #masthead nav ul {display: none;}
  .tour {width: 46%; margin: 2%;}
  #springTour {margin: 2%;}
  #mountainTour {margin: 2%;}
  #hamburger {background: url(../i/hamburger-menu.png)  center no-repeat; width: 55px; height: 39px; float: right;}
  #homeFeature {width: 300px; height: 300px; margin: 50px auto 20px; float: none;}
  .halfColumn {width: 100%;}
}

@media screen and (max-width: 500px) {
  #masthead div h1 {font-size: 25px;}
  .tour {width: 100%; margin: 20px 0;}
  #springTour {margin: 20px 0;}
  #mountainTour {margin: 20px 0;}
}

@media print {
  body {font: 400 14pt/1.4 'Notoserif' ; color: #000; font-size: 17pt;}
  #masthead nav ul {display: none;}
  #masthead h1 {font-size: 24pt;}
  h2 {font: 400 20pt/1.4 'Noto', serif ; color: #000;}
  h3 {font: 400 17pt/1.4 'Noto', serif ; color: #000;}
  footer {font-size: 11pt;}
  header {margin-bottom: 30pt;}
  #tourGallery {margin-bottom: 30pt;}
  #pageContent {margin-bottom: 30pt;}
  .tour {display: block; margin-bottom: 10pt;}
}
