<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Cardamom Farm - Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;700&family=Economica:wght@400;700&family=Noto+Sans+JP:wght@300;400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/main3.css" />
</head>
<body>

  <header id="masthead" aria-labelledby="navigationHdr" aria-label="image of red barn with trees">

    <div class="container flexColumn">

      <h1>CARDAMOM</h1>
      <h1>FARM</h1>

      <nav aria-label="Primary website navigation">
        <ul class="flexRow">
          <li><a href="#">About Our Farm</a></li>
          <li><a href="#">Saturday Market</a></li>
          <li><a href="#">CSA Farmshares</a></li>
          <li><a href="#">Event Spaces</a></li>
        </ul>
      </nav>

    </div>

  </header>

  <main>

    <section aria-labelledby="copmanyMotto">

      <div class="container flexCenter" id="motto">

        <h2 id="mottoQuote" class="companyMotto">Our big red barn is the heart and soul of who we are.</h2>

        <a href="#">TAKE A VIRTUAL TOUR</a>

      </div>

    </section>

    <section class="container">

      <div class="flexRow" id="chickenSquash">

        <div class="flexColumn" id="freshWidth">

          <a href="#" class="fresh" id="chicken" aria-label="chicken in grass"></a>

          <h2>Farm Fresh Eggs</h2>

          <p>Our happy group of chickens really knows what "free range" means with access to roam all 200 rolling acres of our farm land; they come and go as they please.</p>

        </div>

        <div class="flexColumn" id="freshWidth">

          <a href="#" class="fresh" id="squash" aria-label="yellow and green squash"></a>

          <h2>Fresh Vegetables</h2>

          <p>Harvested by hand only at the exact moment of ripeness, our vegetables (and herbs!) have a firmness and taste like no other produce. You have to taste it to believe it.</p>

        </div>

      </div>

    </section>

    <section id=breaker>

      <hr />

        <div class="container">

          <div>

            <div class="flexRow" id="padding">

              <div class="topTwo">

                <h2>Our Saturday Market is a fun day out for the whole family.</h2>

                <p>EVERY SATURDAY<br>
                  MAY THROUGH SEPTEMBER<br>
                  8AM TO 3PM</p>

              </div>

              <a href="#" class="topTwo" id="greenBeans" aria-label="Image of three different colored buckets of green beans"></a>

            </div>

            <div class="flexRow" id="padding threeImages">

              <div class="activities">
                <a href="#" id="guitar" class="bottomThree" aria-label="Image of someone playing a guitar with bracelets">
                  <p>GREAT MUSIC</p>
                </a>
              </div>

              <div class="activities">
                <a href="#" id="facePaint" class="bottomThree" aria-label="Image of a women painting a young girls face">
                  <p>FUN FOR THE KIDS</p>
                </a>
              </div>

              <div class="activities">
                <a href="#" id="cauliflower" class="bottomThree" aria-label="Image of purple cauliflower with greens behind">
                  <p>FRUITS AND VEGGIES</p>
                </a>
              </div>

            </div>
          </div>
      </div>

    </section>

    <section aria-label="Image of tomatoes on a wood background" id="farmshares">

      <a href="#" id="tomatoes"></a>

      <h2>

        <a href="#">CSA FARMSHARES</a>

      </h2>

      <div class="container">

        <p>Every week pick up your box of fruits and vegetables from the farm. Your box will contain produce picked fresh just days before you pick it up.</p>

        <form action="#" method="post">

          <input type="email" placeholder="Email adderess" aria-label="Place to imput your email for us to contact you" name="email">
          <button type="submit"></button>

        </form>

      </div>


    </section>
x
    <section id="space" aria-labelledby="eventSpaces">

      <div class="container">

        <h2>Event Spaces</h2>

        <div class="flexRow">

          <div class="event">

            <h3>THE BIG RED BARN</h3>

            <p>Our signature event space provides a breaktaking backdrop for any of your larger event needs. From weddings to large parties the barn will become a part of the memory.</p>

          </div>

          <div class="event">

            <h3>THE PEACE GARDEN</h3>

            <p>Set amongst gorgeous wisteria, draping clemantis and dramatic bougainvillea, our ideallic garden setting is perfect for smaller gatherings. A perfect place for an intimate gathering </p>

          </div>

          <div class="event">

            <h3>THE LAVENDER FIELD</h3>

            <p>If you want a beautiful outside setting, our lavender field is a perfect answer. Nestled in among the fragrant plants is setting for up to 100. Overlooks the lovely hills and rushing river. </p>

          </div>

        </div>

      </div>

    </section>

  </main>

  <footer class="container">

    <div class="flexRow">

      <div id="about oneThird">

        <p>ABOUT OUR FARM</p>
        <p>SATURDAY MARKET</p>
        <p>CSA FARMSHARES</p>
        <p>EVENT SPACES</p>

      </div>

      <div>

        <div id="logo oneThird">

          CARDAMOM<br/>
          <span>FARM</span>

        </div>
        <p>24678 Rolling Hills Lane</p>
        <p>Watertown, ME 03241</p>

      </div>

      <div id="iconsPosition">

        <a href="#" id="instagram" aria-label="Come check out our instagram page" title="Come check out our instagram page"></a>

        <a href="#" id="twitter" aria-label="Come check out our twitter page" title="Come check out our twitter page"></a>

        <a href="#" id="facebok" aria-label="Come check out our facebook page" title="Come check out our facebook page"></a>

      </div>

    </div>
















































  </footer>
</body>
</html>
